<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="Academy.Listeners" />
	</listeners>
	
	<test thread-count="5" name="Navigation Bars">
		<classes>
			<class name="Academy.ValidateTitle_NavigationBar" />
		</classes>
	</test>

	<test thread-count="5" name="Homepage">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>

</suite> <!-- Suite -->
